{% extends 'base.html.twig' %}
{% block title %}Locations
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<header>

</header>
    <div class="text-center bgimg">
    <div class="jumbotron pb-4">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>

    <div class="container pb-5">
            <section>
                <div class="card-deck text-center">

                </div>
            </section>
        <div class="container align-center mb-5">
            <a href="#" class="btn btn-info btn-lg">Voir le catalogue</a>
        </div>
    </div>
        <!--        Last section-->
        <section>
            <div class="contentSection p-5">
                <div class="row">
                    <div class="col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-info">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-info">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-info">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    {% endblock %}
