.navbar {
    padding: 1.3em;
    background-color: #101010 !important;
}

.navbar .navbar-brand {
    color: white !important;
}

.navbar .navbar-toggler {
    background-color: rgba(60, 60, 60, 0.59) !important;
}

.nav-link {
    color: white;
    font-family: "AmaticSC", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

.navbar ul li a {
    color: white !important;
    font-family: "AmaticSC", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 10px;
}

.img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
}

.list-style {
    width: 14px;
    height: 14px;
}

.mb-65 {
    margin-bottom: 67px;
}

.black-bg {
    background: #020c26 !important;
}

.white-bg {
    background: #ffffff;
}

.gray-bg {
    background: #f5f5f5;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-75 {
    margin-bottom: 75px;
}

@media (max-width: 767px) {
    .mb-75 {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mb-75 {
        margin-bottom: 30px;
    }
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-60 {
    margin-bottom: 50px !important;
}

.boxed-btn {
    background: #fff;
    color: #DB9A64;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #DB9A64;
    letter-spacing: 3px;
    text-align: center;
    color: #DB9A64 !important;
    text-transform: uppercase;
    cursor: pointer;
}

.boxed-btn:hover {
    background: #DB9A64;
    color: #fff !important;
    border: 1px solid #DB9A64;
}

.boxed-btn:focus {
    outline: none;
}

.boxed-btn.large-width {
    width: 220px;
}

.boxed-btn3 {
    background: #DB9A64;
    color: #fff;
    display: inline-block;
    padding: 19px 50px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 3px;
}

.boxed-btn3:hover {
    background: rgba(0, 29, 56, 0.69);
    color: #fff !important;
}

.boxed-btn3:focus {
    outline: none;
}

.boxed-btn3.large-width {
    width: 220px;
}

.section_title h3 {
    font-size: 50px;
    font-weight: 700;
    color: #001D38;
    position: relative;
    z-index: 0;
    padding-bottom: 0;
}

@media (max-width: 767px) {
    .section_title h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .boxed-btn3 {
        font-size: 12px;
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section_title h3 {
        font-size: 35px;
        line-height: 42px;
    }
}

@media (max-width: 767px) {
    .section_title h3 br {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 br {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section_title h3 br {
        display: none;
    }
}

.section_title p {
    font-size: 16px;
    color: #DB9A64;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 400;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .section_title p br {
        display: none;
    }
}

.section_title h4 {
    font-size: 22px;
    font-weight: 500;
    color: #001D38;
    padding-bottom: 21px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .mb-50 {
        margin-bottom: 40px;
    }
}

.mb-70 {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    .mb-70 {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mb-70 {
        margin-bottom: 40px;
    }
}

*::-webkit-scrollbar {
    background: #00000a;
}

*::-webkit-scrollbar-thumb {
    background: #303031;
    border: none;
}

.testimonial_area .carousel-control-prev-icon,
.testimonial_area .carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

.testimonial_area .testmonial_author .thumb img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.testimonial_area .testmonial_author .name {
    padding-top: 5px;
    text-align: center;
}

.testimonial_area .testmonial_author .name h3 {
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.testimonial_area .testmonial_author .name .icon i {
    color: rgba(167, 0, 0, 0.72);
}

.author_opinion {
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    border: 2px solid #DB9A64;

}

.author_opinion p {
    font-family: "sans-serif", sans-serif;
    font-size: 18px;
    font-style: italic;
}

#carouselExampleIndicators {
    text-align: center;
}

.carousel-title h3 {
    color: white;
    text-align: center;
    z-index: 0;
    font-family: "maxwellregular", sans-serif;
    font-size: 100px;
    letter-spacing: 3px;
    text-shadow: 2px 2px black;
}

.carousel-item img {

}

.carousel-title h3 a {
    color: white;
    text-shadow: none;
}

.carousel-img {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .carousel-title h3 {
        font-size: 50px;
        letter-spacing: 3px;
    }

    .author_opinion p {
        font-family: "sans-serif", sans-serif;
        font-size: 16px;
        font-style: italic;
    }

    .carousel-item {
        height: 500px;
    }

    .carousel-item .carousel-img {
        height: 500px;
    }

}

.carousel-title {
    position: absolute;
    top: 200px;
    z-index: 1;
}

.carousel-title a:hover {
    text-decoration: none;
}

.carousel-inner img {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about_area {
    padding-top: 160px;
    padding-bottom: 150px;
    background: #FFFBF5;
    position: relative;
}

@media (max-width: 767px) {
    .about_area {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #carouselExampleControls .carousel-inner .carousel-title {
        top: 100px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .about_area .about_info_wrap {
        margin-bottom: 30px;
    }
}

.about_area .about_info_wrap h3 {
    margin-bottom: 0;
    font-size: 70px;
    color: rgba(40, 40, 41, 0.8);
    letter-spacing: 3px;
    font-family: "westhouseregular", sans-serif;
}

@media (max-width: 767px) {
    .about_area .about_info_wrap h3 {
        text-align: center;
        margin-bottom: 0;
        font-size: 35px;
        color: rgba(40, 40, 41, 0.95);
        letter-spacing: 3px;
        font-family: "westhouseregular", sans-serif;
    }
}

@media (max-width: 767px) {
    .about_area .about_info_wrap h3 br {
        display: none;
    }

    .about_area .about_info_wrap span.long_dash {
        background-color: transparent;
        margin-left: 5em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about_area .about_info_wrap h3 br {
        display: none;
    }
}

.about_area .about_info_wrap .long_dash {
    height: 3px;
    width: 70px;
    background: #DB9A64;
    display: inline-block;
    margin-bottom: 34px;
    margin-top: 17px;
}

.about_area .about_info_wrap p {
    font-family: sans-serif, sans-serif;

    text-align: justify;
}

.about_area .about_info_wrap p {
    font-size: 16px;
    line-height: 28px;
    color: #596672;
    margin-bottom: 50px;

}

.about_area .about_info_wrap .food_list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@media (max-width: 767px) {
    .about_area .about_info_wrap .food_list {
        display: block;
    }

    .about_area .about_info_wrap p {
        font-family: sans-serif, sans-serif;
        font-size: 15px;
        text-align: justify;
        padding: 20px;
    }
}

.about_area .about_info_wrap .food_list li {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .about_area .about_info_wrap .food_list li {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.about_area .about_info_wrap .food_list li span {
    padding-left: 14px;
    color: #DB9A64;
    font-size: 16px;
    font-weight: 400;
}

.about_area .about_img {
    position: relative;
}

.about_area .about_img .img_1 {
    padding-left: 80px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.about_area .about_img .img_1 img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 100%;
}

.about_area .about_img .small_img {
    position: absolute;
    margin-top: -170px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 10px solid #fff;
}

@media (max-width: 767px) {
    /* line 77, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
    .about_area .about_img .small_img {
        position: absolute;
        margin-top: -80px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: 10px solid #fff;
        width: 210px;
    }
}

.about_area .about_img .small_img img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 100%;
}

.about_area .icon_1 {
    position: absolute;
    top: 7%;
    left: 4%;
}

.about_area .icon_3 {
    position: absolute;
    right: 4%;
    bottom: 10%;
}

.about_area .icon_2 {
    position: absolute;
    bottom: -12%;
    left: 6%;
}

.testimonial_area .section_title h3 {
    font-size: 90px;
    color: rgba(40, 40, 41, 0.85);
    letter-spacing: 3px;
    font-family: "maxwellregular", sans-serif;
    margin-bottom: 60px;
}

.testimonial_area {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 4em;
}

@media (max-width: 767px) {
    /* line 2, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_testmonial.scss */
    .testimonial_area {
        padding: 50px 0;
    }

    .testimonial_area .section_title h3 {
        padding-top: 20px;
        font-size: 60px;
        color: rgba(22, 22, 23, 0.94);
        letter-spacing: 3px;
        font-family: "maxwellregular", sans-serif;
        margin-bottom: 60px;
    }
}


.gallery_area {
    overflow: hidden;
    padding-top: 100px;
}

.gallery_area .section_title h3 {
    font-size: 100px;
    color: rgba(40, 40, 41, 0.85);
    letter-spacing: 1px;
    font-family: "maxwellregular", sans-serif;
}

@media (max-width: 767px) {
    /* line 1, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area {
        padding: 60px 10px;
    }

    .gallery_area .section_title h3 {
        font-size: 60px;
        color: rgba(40, 40, 41, 0.85);
        letter-spacing: 1px;
        font-family: "maxwellregular", sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 1, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area {
        padding-top: 60px;
    }
}

.gallery_area .single_gallery {
    position: relative;
    height: 500px;
    float: left;
    overflow: hidden;
    border-right: 8px solid #fff;
    border-bottom: 8px solid #fff;
}

@media (max-width: 767px) {
    /* line 11, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery {
        height: auto;
        border: none;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    /* line 11, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery {
        height: 300px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 11, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery {
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 11, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery {
        height: 300px;
    }
}

.gallery_area .single_gallery a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 12;
}

.gallery_area .single_gallery:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background: #BB8151;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 8;
}

.gallery_area .single_gallery img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.gallery_area .single_gallery.small_img {
    width: 30%;
}

@media (max-width: 767px) {
    /* line 60, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery.small_img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 60, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery.small_img {
        width: 50%;
    }
}

.gallery_area .single_gallery.big_img {
    width: 40%;
}

@media (max-width: 767px) {
    /* line 69, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery.big_img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 69, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery.big_img {
        width: 50%;
    }
}

@media (max-width: 767px) {
    /* line 69, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_gallery.scss */
    .gallery_area .single_gallery.big_img {
        width: 100%;
    }
}

.gallery_area .single_gallery:hover::before {
    opacity: .3;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery_area .single_gallery:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.Delicious_area {
    padding-bottom: 110px;
    padding-top: 150px;
}

.Delicious_area .tablist_menu {
    border-bottom: 1px solid #E5E8EA;
    margin-bottom: 60px;
}

.Delicious_area .tablist_menu .nav {
    margin-bottom: 0px;
}

.Delicious_area .tablist_menu .nav li {
    margin: 0 25px;
}

@media (max-width: 767px) {
    /* line 9, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_delicious.scss */
    .Delicious_area .tablist_menu .nav li {
        margin: 0 4px;
    }
}

.Delicious_area .tablist_menu .nav li a {
    padding: 0 12px 27px 12px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.Delicious_area .tablist_menu .nav li a .single_menu .icon i {
    font-size: 50px;
    color: #596672;
}

.Delicious_area .tablist_menu .nav li a .single_menu h4 {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    color: #596672;
    font-family: "Poppins", sans-serif;
}

.Delicious_area .tablist_menu .nav li a.active {
    position: relative;
}

.Delicious_area .tablist_menu .nav li a.active .single_menu .icon i {
    color: #DB9A64;
}

.Delicious_area .tablist_menu .nav li a.active .single_menu h4 {
    color: #DB9A64;
}

.Delicious_area .tablist_menu .nav li a.active:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #DB9A64;
    bottom: 0;
}

.Delicious_area .section_title h3 {
    font-size: 100px;
    color: rgba(40, 40, 41, 0.85);
    letter-spacing: 3px;
    font-family: "maxwellregular", sans-serif;
}

@media (max-width: 767px) {
    .Delicious_area {
        padding-bottom: 50px;
    }

    .Delicious_area .section_title h3 {
        font-size: 50px;
        color: rgba(40, 40, 41, 0.85);
        letter-spacing: 3px;
        font-family: "maxwellregular", sans-serif;
    }

    .Delicious_area .single_delicious .info h3 {
        font-size: 30px;
        color: rgba(40, 40, 41, 0.85);
        letter-spacing: 3px;
        font-family: "maxwellregular", sans-serif;
    }
}

.Delicious_area .single_delicious {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .Delicious_area .single_delicious {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Delicious_area .single_delicious {
        display: block !important;
    }
}

.Delicious_area .single_delicious .thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.Delicious_area .single_delicious .thumb img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
}

.Delicious_area .single_delicious .info {
    padding-left: 28px;
}

.Delicious_area .single_delicious .info h3 {
    font-size: 45px;
    color: rgba(40, 40, 41, 0.85);
    letter-spacing: 3px;
    font-family: "westhouseregular", sans-serif;
}


@media (min-width: 768px) and (max-width: 991px) {
    .Delicious_area .single_delicious .info {
        padding-left: 0;
        margin-top: 30px;
    }

}


.Delicious_area .single_delicious .info p {
    font-size: 27px;
    font-family: "AmaticSC", sans-serif;
    margin-bottom: 0;
    margin-top: 15px;
    margin-bottom: 16px;
    padding: 18px;
}

.Delicious_area .single_delicious .info span {
    display: block;
    font-weight: 400;
    font-size: 26px;
    color: #DB9A64;
}

.contact-sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.contact-sections .rev_icon_3 {
    position: absolute;
    left: 2%;
    bottom: 4%;
}

.contact-sections .rev_icon_1 {
    position: absolute;
    top: 2%;
    right: 4%;
}

.contact-sections .rev_icon_2 {
    position: absolute;
    bottom: -12%;
    right: 4%;
}

@media (max-width: 767px) {
    .contact-sections {
        padding: 50px 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contact-sections {
        padding: 50px 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .contact-sections {
        padding: 80px 0;
    }
}

.site-section {
    padding-top: 1em;
}

.site-section .lead {
    font-size: 28px;
    color: #101010;
    font-family: "AmaticSC", sans-serif;
}

.site-section h2 {
    font-size: 90px;
    font-weight: bold;
    font-family: "maxwellregular", sans-serif;
    color: #001D38;
}

@media screen and (max-width: 768px) {
    .display-4 {
        font-size: 37px;
    }

    .site-section {
        padding-top: 0;
    }

    .site-section h2 {
        font-size: 60px;
        font-family: "maxwellregular", sans-serif;
        color: #001D38;
    }

    .site-section .lead {
        font-size: 25px;
        color: #101010;
        font-family: "AmaticSC", sans-serif;
    }
}

.form-control {
    border: none;
    height: 55px !important;
    background: #e6e6e6 !important;
    color: #000 !important;
    font-size: 18px;
    border-radius: 0px;
}

textarea.form-control {
    height: inherit !important;
}

.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #1A0D01;
    position: relative;
    z-index: 9;
}

.footer .footer_top {
    padding-top: 115px;
    padding-bottom: 90px;
}

@media (max-width: 767px) {
    .footer .footer_top {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

.footer .footer_widget p {
    margin-top: 20px;

}

.footer .footer_widget button {
    border: 0;
    margin-left: 5px;
}

@media (max-width: 767px) {
    /* line 16, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer .footer_top .footer_widget {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .footer .footer_top .footer_widget .footer_title {
        margin-bottom: 20px;
        font-size: 19px;
    }

}

.footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer .footer_top .footer_widget .footer_logo {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    /* line 33, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget .footer_logo {
        margin-bottom: 20px;
    }
}

.footer .footer_top .footer_widget p {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.footer .footer_top .footer_widget p a {
    color: #919191;
}

.footer .footer_top .footer_widget p a:hover {
    color: #DB9A64;
}

.footer .footer_top .footer_widget p.footer_text {
    font-size: 16px;
    color: #B2B2B2;
    margin-bottom: 23px;
    font-weight: 400;
    line-height: 28px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
    color: #B2B2B2;
    font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
    color: #DB9A64;
    border-bottom: 1px solid #DB9A64;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
    font-weight: 500;
    color: #B2B2B2;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
    color: #DB9A64;
    border-bottom: 1px solid #DB9A64;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
    margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
    color: #ACACAC;
    font-size: 14px;
    line-height: 36px;
}

.footer .footer_top .footer_widget ul li a {
    color: #919191;
    font-weight: 400;
}

.footer .footer_top .footer_widget ul li a:hover {
    color: #DB9A64;
}

.footer .footer_top .footer_widget .newsletter_text {
    font-size: 14px;
    color: #919191;
    line-height: 26px;
}

.footer .copy-right_text {
    padding-bottom: 30px;
    background-color: rgba(0, 0, 9, 1);
}

.footer .copy-right_text .footer_border {
    border-top: 1px solid #31261B;
    padding-bottom: 30px;
}

.footer .copy-right_text .copy_right {
    font-size: 15px;
    color: #919191;
    margin-bottom: 0;
    font-weight: 500;
}

@media (max-width: 767px) {
    .footer .copy-right_text .copy_right {
        font-size: 14px;
    }
}

.footer .copy-right_text .copy_right a {
    color: #DB9A64;
}

.footer .socail_links {
    margin-top: 47px;
}

@media (max-width: 767px) {
    /* line 167, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
    .footer .socail_links {
        margin-top: 30px;
    }
}

.footer .socail_links ul li {
    display: inline-block;
}

.footer .socail_links ul li a {
    font-size: 15px;
    color: #C3B2F0;
    width: 30px;
    display: inline-block;
    text-align: center;
    background: transparent;
    margin-right: 7px;
    color: #FFFFFF;
    line-height: 40px !important;
    color: #E8E8E8;
}

.footer .socail_links ul li a:hover {
    color: #DB9A64 !important;
    border-color: transparent;
}

.bradcam_bg_1 {
    background-image: url('../img/bradcam3.png');
}

.bradcam_bg_2 {
    background-image: url('../img/bradcam2.png');
}

.bradcam_bg_3 {
    background-image: url('../img/bradcam.png');
}

.bradcam_area {
    background-size: cover;
    background-position: center center;
    padding: 237px 0 178px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 13, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
    .bradcam_area {
        padding: 120px 0;
    }
}

/* line 23, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#001d38+0,1a0d01+100&0.7+0,0.6+100 */
    background: -moz-linear-gradient(left, rgba(0, 29, 56, 0.7) 0%, rgba(26, 13, 1, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 29, 56, 0.7) 0%, rgba(26, 13, 1, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 29, 56, 0.7) 0%, rgba(26, 13, 1, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3001d38', endColorstr='#991a0d01', GradientType=1);
    /* IE6-9 */
    z-index: -1;
    content: '';
}

@media (max-width: 767px) {
    /* line 13, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
    .bradcam_area {
        padding: 150px 0;
    }
}

/* line 40, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area h3 {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}

.bradcam_bg1 {
    background-image: url('../img/bradcam3.png');
}

@media (max-width: 767px) {
    /* line 40, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
    .bradcam_area h3 {
        font-size: 30px;
    }
}

/* line 50, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}

/* line 55, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area p a {
    color: #fff;
}

/* line 57, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area p a:hover {
    color: #fff;
}

/* line 63, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area .bradcam_text2 h3 {
    font-size: 50px;
    margin-bottom: 14px;
}

@media (max-width: 767px) {
    /* line 63, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
    .bradcam_area .bradcam_text2 h3 {
        font-size: 30px;
    }
}

/* line 70, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area .bradcam_text2 p {
    font-size: 20px;
    margin-bottom: 0;
}

/* line 75, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
.bradcam_area.Extra_padding {
    padding: 399px 0;
}

@media (max-width: 767px) {
    /* line 75, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
    .bradcam_area.Extra_padding {
        padding: 150px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 75, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
    .bradcam_area.Extra_padding {
        padding: 150px 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 75, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_bradcam.scss */
    .bradcam_area.Extra_padding {
        padding: 150px 0;
    }
}

.main_about_wrap {
    padding-top: 145px;
    padding-bottom: 130px;
}

@media (max-width: 767px) {
    /* line 115, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
    .main_about_wrap {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 115, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
    .main_about_wrap {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}

/* line 128, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
.main_about_wrap h3 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    /* line 128, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
    .main_about_wrap h3 {
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 128, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
    .main_about_wrap h3 {
        font-size: 35px;
    }
}

/* line 139, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
.main_about_wrap p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 46px;
    margin-top: 24px;
}

/* line 146, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
.main_about_wrap .about_thumb {
    margin-bottom: 30px;
}

/* line 148, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_about.scss */
.main_about_wrap .about_thumb img {
    width: 100%;
}
